```sql
create database dev:
show databases;
show tables;
create table test
```